<div class="form__container">
    <h3>Messages</h3>


        

        <ul id="listMessages" style="max-height: 500px; overflow-y:scroll;">
        
        </ul>
        <form id="formChat" >
            <input type="text" name="emailUser" id="emailUser" placeholder="Your Mail">
            <input type="text" name="messageUser" id="messageUser" placeholder="Escribe un mensaje aquí">
            <input type="submit" value="Ingresar">
        </form>
</div>